/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/* for bootstrap/angular to work nicely */
/*.nav, nav a, .pagination, .carousel, .panel-title a { cursor: pointer; }
*/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Helvetica, Arial, 'Sans Serif';
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: #0079BF;
	padding-top: 40px;
}

.noScroll {
	overflow: hidden;
}

#header {
	background: #026aa7;
	color: #fff;
	height: 40px;
	padding: 5px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

#header .header-brand {
	color: #fff;
	opacity: 0.5;
	text-decoration: none;
	line-height: 30px;
	display: block;
	text-align: center;
	font-size: 1.25em;
}

#header .header-brand:hover {
	opacity: 0.75;
}

.board-main-content {

}

.board-header {
	height: 46px;
	padding: 8px;
	overflow: hidden;
	color: #fff;
}

.board-header h2 {
	margin: 0px;
	line-height: 30px;
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 10px;
}

.board-canvas {
	width: 1970px;
}

.board-canvas .board {

}

.shelf {
	width: 270px;
	background: #e2e4e6;
	border-radius: 3px;
	margin: 0px 5px;
	float: left;
	max-height: 100%;
}

.shelf:first-child {
	margin-left: 10px;
}

.shelf h3.shelf-title {
	margin: 0px;
	font-size: 1em;
	font-weight: bold;
	color: #4d4d4d;
	padding: 8px 10px 8px 10px;
}

.shelf ul.shelf-items {
	list-style-type: none;
	padding: 0px;
	margin: 0px 5px 0px 5px;
}

.shelf .shelf-add-item {
	height: 35px;
	padding: 8px 10px;
	display: block;
	color: #8c8c8c;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.shelf .shelf-add-item:hover {
	background-color: #cdd2d4;
	color: #8c8c8c;
}

.shelf .item {
	border-radius: 3px;
	background-color: #fff;
	margin-bottom: 6px;
	padding: 8px 5px 8px 5px;
	text-align: center;
}

.item .item-cover {
	width: 100%;
	cursor: pointer;
}

.item .item-title {
	margin: 0px 5px;
	text-align: left;
	font-weight: bold;
}

.item .item-author {
	margin: 5px 5px;
	text-align: right;
	font-style: italic;
	font-size: 0.9em;
	color: #666;
}

.item .item-btn-read {
	display: block;
	margin: 5px auto 0px auto;
	padding: 10px 0px;
	width: 100%;
	border: solid 1px #a5c956;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 3px;
	color: #444;
	font-weight: bold;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cdeb8e+0,a5c956+100;Green+3D+%232 */
	background: #cdeb8e; /* Old browsers */
	background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cdeb8e 0%,#a5c956 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
	copy

}

.book {
	height: 100%;
}

.book .book-title {
	color: #000;
	font-size: 1.25em;
}

.book .book-title .book-author {
	font-size: 0.9em;
	color: #666;
}

.book .reader {
	width: 100%;
	height: 95%;
	position: relative;
}

.book .reader .btn-page {
	height: 95%;
	width: 10%;
	position: absolute;
	top: 0px;
	text-align: center;
	font-size: 2em;
	color: #fff;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
	padding-top: 30%;
	cursor: pointer;
	opacity: 0.5;
}

.book .reader .btn-page:hover {
	background: #eee;
	opacity: 1;
}

.book .reader .btn-page.prev {
	left: 0px;
}

.book .reader .btn-page.next {
	right: 0px;
}

.book .reader #epubReader {
	padding: 10px 10%;
	width: 100%;
	height: 95%;
}

.book .reader .reader-nav {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

.book .reader .reader-nav .pageNum {
	display: inline-block;
}

.book .reader .reader-nav .pageNum.curPage {
	text-align: right;
}


/*
lightbox styles
*/

.lightbox-overlay {
	background: #000;
	opacity: 0.5;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
}

.lightbox-content {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #fff;
	z-index: 101;
	padding: 10px;
}

.lightbox-btn-close {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	color: #fff;
	border: 1px solid #000;
	border-radius: 6px;
	background: #FF4751;
	font-size: 1.5em;
	line-height: 0.5em;
	font-weight: bold;
	display: inline-block;
	padding: 3px 5px 5px 5px;
	text-decoration: none;
}
